.footer {
    background-color: rgb(49, 49, 49);
    height: fit-content;
    align-self: center;
    padding-top: 10px;
    margin-top: 400px;
    color: azure;
}

.logo {
    padding: 20px;
}

.copyright {
    font-size: 12px;
    padding: 20px;
    align-items: center;
    margin-top: 15px;
}